
<div id="postIndexWell" class="one column stackable ui grid">
  <div class="column">
    <div class="ui segment">
      <h2 id="postsIndexHeader">Post Index</h2>
      {{#each post in model}}
      <div>
        {{#link-to "posts.show" post}}
        <h4>Title: {{post.title}}</h4>
        {{/link-to}}
        <p>Link: {{post.link}}</p>
        <p>Username: {{post.username}}</p>
        <p>Description: {{post.description}}</p>
      </div><br>
      {{/each}}
    </div>
  </div>
</div>




{{outlet}}
