<h2>Title: {{model.title}}</h2>
<p>Link: {{model.link}}</p>
<p>Username: {{model.username}}</p>
<p>Description: {{model.description}}</p>

<button {{action "deletePost" model}}>Delete</button><br>
{{link-to "Create Comment" 'comments.new'}}<br>
{{link-to "View Comments" 'comments.index'}}<br>
{{#link-to 'posts.edit' model}} Edit Post{{/link-to}}<br>
{{#link-to "posts.index"}}Back{{/link-to}}

{{outlet}}
